{% block header %}
{% endblock  %}

<!-- Seção de informações -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="SobreNos">
                <h2>Sobre Nós</h2>
                <p>Somos uma empresa familiar que produz os melhores sorvetes da cidade há mais de 20 anos.
                    Utilizamos apenas ingredientes de alta qualidade em nossas receitas e estamos sempre em busca de
                    novos sabores para agradar nossos clientes.</p>
            </div>
            <div class="col-md-6" id="Contato">
                <h2>Contato</h2>
                <p>Telefone: (11) 5555-5555</p>
                <p>Email: contato@sorvetesdelicia.com.br</p>
                <p>Endereço: Rua das Flores, 123 - Centro - São Paulo/SP</p>
            </div>
        </div>
    </div>
</section>

<!-- Rodapé -->
<footer class="bg-primary text-white text-center py-3">
    <p>&copy; 2023 Sorvetes Delícia - Todos os direitos reservados.</p>
</footer>
<!-- Arquivo JS do Bootstrap 5 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>