{% extends "header.html" %}
{% block content %}

<!-- Seção de produtos -->
<section class="py-5">
    <div class="container">
        <div class="row">
            {% for sorvete in lista_sorvetes %}

                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="/exibir_imagem/{{sorvete.imagem}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{sorvete.sabor}}</h5>
                            <p class="card-text">
                                Marca: {{sorvete.marca}} <br>
                                Preço por ml: R${{sorvete.preco}}
                            </p>
                            <a href="/sorvete/{{sorvete.id}}" class="btn btn-primary">Montar Sorvete!</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
            
        </div>
    </div>
    </div>
</section>
{% endblock %}