{% extends "header.html" %}
{% block content %}

<!-- Banner principal -->
<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>{{sorvete.sabor}}</h1>
                <p class="lead">
                    <b>Marca: </b>{{sorvete.marca}}
                </p>
                <p class="lead">
                    <b>Descrição: </b>{{sorvete.descricao}}
                </p>
                <p class="lead">
                    <b>Ingredientes: </b>
                    {% for ingrediente in lista_ingredientes %}
                        {{ingrediente.nome}};
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-6">
                <img src="http://localhost:8000/exibir_imagem/{{sorvete.imagem}}" 
                    alt={{sorvete.sabor}} class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- Seção de detalhes do produto -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                <h2>Preço</h2>
                <p class="lead">R$ 10,00</p>
                <a href="#" class="btn btn-primary">Compre agora!</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}